@model Jogador 

@{
    ViewData["Title"] = "Jogador";
}

<h2>Tela de Jogadores</h2>

<form
  method="post"
  action='@Url.Action("Cadastrar")'
  enctype="multipart/form-data"
>
  <label for="Nome">Nome</label>
  <input type="text" name="Nome" />

  <label for="Email">Email</label>
  <input type="email" name="Email" />

  <label for="Senha">Senha</label>
  <input type="password" name="Senha" />

  <select name="Equipe" id="">
    <option value="0">Selecione uma equipe</option>
            @foreach (Equipe equipe in ViewBag.Equipe)
            {
                    <option value="@equipe.IdEquipe">@equipe.Nome</option>
            }
  </select>

  <button type="submit">Cadastrar</button>
</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Equipe</th>
    </thead>
    <tbody>
        @foreach (Jogador jogador in ViewBag.Jogador)
        {
                    <tr>
                        <td>@jogador.IdJogador</td>
                        <td>@jogador.Nome</td>
                        <td>@jogador.Email</td>
                        <td>
                            <img src="/img/Equipes/@jogador.Equipe!.Imagem" alt="Imagem da equipe @jogador.Equipe.Nome" width="50px">
                        </td>
                        <th><a asp-area="Link para excluir Jogador" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador">Excluir</a></th>
      <th><a asp-area="Link para editar Jogador" asp-controller="Jogador" asp-action="Editar" asp-route-id="@jogador.IdJogador">Editar</a></th>
                    </tr>
        }
    </tbody>
</table>